<% content_for :header do %>
  <section class="hero is-warning">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Browse the latest cigars
        </h1>
      </div>
    </div>
  </section>
<% end %>

<div class="cigar-index-grid pt4">
  <% @cigars.each do |cigar| %>
    <div class="cigar border-light">
      <div class="cigar-thumb">
        <%= link_to image_tag(cigar.image_url(:thumb)), cigar %>
        <% if cigar.brand? %>
          <div class="brand">
            <span class="tag is-dark"><%= cigar.brand %></span>
          </div>
        <% end %>
      </div>

      <div class="pa3">
        <h3 class="fw7 f4 title"><%= link_to cigar.brand %></h3>
        <p class="has-text-gray fg pt1">Sold by
          <%= cigar.user.name %></p>
        <p class="f3 fw6 has-text-right pt2 price"><%= number_to_currency(cigar.price) %></p>

        <% if cigar_author(cigar) %>
          <%= link_to 'Edit', edit_cigar_path(cigar), class: "button is-small" %>
          <%= link_to 'Delete', cigar, method: :delete, data: { confirm: "Are you sure you want to delete this cigar?"}, class: "button is-small" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>