<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @cigar.brand %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @cigar.origin %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cigar.description %>
</p>

<p>
  <strong>Size:</strong>
  <%= @cigar.size %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @cigar.shape %>
</p>

<p>
  <strong>Binder:</strong>
  <%= @cigar.binder %>
</p>

<p>
  <strong>Filler:</strong>
  <%= @cigar.filler %>
</p>

<p>
  <strong>Wrapper:</strong>
  <%= @cigar.wrapper %>
</p>

<p>
  <strong>Price:</strong>
  <%= @cigar.price %>
</p>

<%= link_to 'Edit', edit_cigar_path(@cigar) %> |
<%= link_to 'Back', cigars_path %>
